<launch>
  <arg name="height" default="0.20" />

  <!-- Adjust the torso height  -->
  <node pkg="rostopic" type="rostopic" name="vpbd_robot_height" args="pub /torso_controller/position_joint_action/goal pr2_controllers_msgs/SingleJointPositionActionGoal '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: ''}, goal_id: {stamp: {secs: 0, nsecs: 0}, id: ''}, goal: {position: $(arg height), min_duration: {secs: 0, nsecs: 0}, max_velocity: 0.0}}' --once"/>

  <!-- Enable gripper controllers -->
  <node pkg="pr2_controller_manager" type="spawner" name="vpbd_gripper_strt" args="r_gripper_controller l_gripper_controller"/>

  <!-- Move the robot to initial pose -->
  <node pkg="verbal" type="initRobot.py" name="vpbd_robot_pose"/>
</launch>
